/* Універсальний селектор для встановлення основних параметрів для всіх елементів */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; /* Дозволяє включати padding і border в загальну ширину та висоту елементів */
  vertical-align: baseline;
}

/* Параметри для групи елементів, які мають спільні особливості */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Скидання списків, щоб видалити відступи та стилі списків */
ul,
ol {
  list-style: none;
}

/* Стилі для тегів 'a', щоб видалити підкреслення і задати стандартний колір тексту */
a {
  text-decoration: none;
  color: inherit; /* Спадковість кольору від батьківського елемента */
}

/* Стилі для зображень, щоб вони не виходили за межі своїх контейнерів */
img {
  max-width: 100%;
  height: auto;
}

/* Застосування базового шрифту для всіх текстових елементів */
body {
  font-family: "Roboto", sans-serif; /* Встановлення стандартного шрифту */
  line-height: 1.5; /* Встановлення висоти лінії */
  background: #ede9e9; /* Білий колір фону */
  color: #333; /* Темно-сірий колір тексту */
}

span {
  font-weight: 700;
  color: orange;
}
h1 {
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 48px;
}
p {
  font-weight: 400;
  margin-bottom: 12px;
}
.header {
}
.container {
}
.nav {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  overflow: hidden;
}
.roots-wrapper {
  width: 160px;
  height: 160px;
}

.logo-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-nav {
  align-items: center;
  display: flex;
  gap: 8px;
}
.nsv-instagram {
  width: 40px;
  height: 40px;
}
.nav-tik-tok {
  width: 40px;
  height: 40px;
}
.hero {
}
.hero-img {
  width: 100%;
}
.hero-video {
  width: 100%;
}
.hero-descr {
  border-radius: 24px;
  text-align: left;
  padding: 12px 15px;
  background-color: #ccc9c964;
}
.hero-descr h1 {
  text-align: center;
}

.footer-video {
  width: 100%;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px 24px 0 0;
  background-color: #333;
  padding-bottom: 28px;
}
.footer {
}
.footer-logo {
}
.footer-dscr {
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-insta {
}
.footer-nav-tik-tok {
}
.footer-descr {
  color: orange;
}
.container {
  width: 100%; /* Встановлюємо ширину контейнера за замовчуванням на 100% */
  max-width: 780px; /* Максимальна ширина контейнера за замовчуванням */
  margin: 0 auto; /* Вирівнюємо контейнер по центру на сторінці */
  padding: 20px; /* Встановлюємо відступи всередині контейнера */
  box-sizing: border-box; /* Включаємо відступи і рамки в загальну ширину */
}

/* Медіаправило для екранів менше або дорівнює 780 пікселям */
@media (max-width: 780px) {
  .container {
    max-width: 100%; /* Дозволяємо контейнеру займати 100% ширини екрану */
  }
}

/* Медіаправило для екранів менше або дорівнює 480 пікселям */
@media (max-width: 480px) {
  .container {
    padding: 10px; /* Зменшуємо відступи всередині контейнера */
  }
  .span-nav {
    display: none;
  }
  .nav {
    height: 80px;
  }
  h1 {
    margin-bottom: 22px !important;
  }
  p {
    margin-bottom: 8px;
  }
}
